/**
* @name:          styles.dash.scss
* @description:   This stylesheet imports the required scss files for the front portion of the site. This file is imported from front.js.
*/

#confirm {
	padding: 4px;
  font-size: .9rem;}

#topbar {
	
	height: 65px;
	
	.navbar{
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	background-color: #503d39;
	
		&.confirm {
			box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px -2px 3px rgba(0, 0, 0, 0.1);
			top: 30px;}
	}
}

#sidebar {
	
	box-shadow: -3px 0px 3px rgba(0,0,0,0.2) inset;
	position: fixed;
	left: 0;
	padding-left: 15px;
		
		.menu-label {
			text-align: right;
			padding-bottom: 5px;
			border-bottom: 1px solid #757763;
			margin-top: 30px;}
	
		li > a {
			margin-top: 10px;}
	
		.hoverable {
			visibility: hidden;
			transition: all 0s .2s ease-in;}
		
		&:hover .hoverable {
			visibility: visible;
			transition: all 0s .2s ease-in;}
}


.main {
		
	#lists .wrapem {

	flex-wrap: wrap;
	
	.list {
		margin-bottom: 0px !important;
		margin-top: 20px !important;
		border-bottom: 2px solid #EB5E28;
		background: #fff !important;
		height: 100%;
		width: 32%;
		box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.3);

	
		&:nth-child(3n) {
			margin-left: 0px;}
		
		&:nth-child(3n+3), &:nth-child(3n+2) {
			margin-left: 20px;}
		
		}}

	#list {
		
		border: 1px solid #bbb !important;
		padding: 0;
		background: #eee;
		border-radius: 3px;
		box-shadow: 0px 0px 3px rgba(0,0,0,0.13);
		border: 3px solid #ddd !important;
		
		li {
			border-bottom: 1px solid #ddd;
			padding-left: 17px !important;
			cursor: pointer;
			
			&:hover {
				background: #e7e7e7;}
		
			label {
				display: block;
				padding: 10px 10px 10px 0px !important;
				cursor: pointer;
			
				.taskname {
					pointer-events: none;
					vertical-align: middle;}
				
				.check {
					background: #fff;
					height: 25px;
					width: 25px;
					border: 1px solid #ddd;
					box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1) inset;
					font-size: .95em;
					color: #fff;
					vertical-align: middle;
					border-radius: 5px;
					pointer-events: none;
					
					&.fa-check {
						background: lightgreen;
					}
				
					&::before {
						position: relative;
						top: 4px;
						left: 4px;}
				}
			}
				.delete {
					right: 20px;
					top: -34px;
					opacity: 0;
					margin-top:2px;}
			
				&:hover .delete {
					opacity: 1;
					transition: all .2s 0s ease;}
				
			
		}
		
		form {
			
			input {
				border-bottom-left-radius: 3px;}
			
			button {
				border-top-right-radius: 0px;}
			
		}
	}
}

.tag {
	padding: 3px 10px !important;
	display: inline !important;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.outermodal {
	z-index: 40;
	position: fixed;
} 

.underline {
	text-decoration: line-through;
}
.greenit {
	background: #e0fae0 !important;
}

body {
	height: 100vh;
  background-image: linear-gradient(141deg, #dedeca 0%, #EFF0EB 71%, #fafbf9 100%);
}

.editbutton {
	color: rgba(10, 10, 10, 0.2);
	font-size: 1.4rem;
	cursor: pointer;
	
	&:hover {
		color: rgba(10, 10, 10, 0.3);
	}
}

.progress {
	height: 11px;
}
