{% extends 'util/email.twig' %} 

{% block title %}Change your password!{% endblock %}

{% block content %}
<p>Hello {{ fname }}, sorry to hear youre having trouble logging in.</p>
<p>Let's get your password reset. Simply click the link below, follow the instructions, and use your new password to sign in. </p>
<p>If you need more help or have any questions, you may reply directly to this email! Monday thru Friday, I'll do my best to respond within 1 hour.</p>
<p>
Thanks,<br>
ToDone Team
</p>
<p>
<a href='{{url}}'>Click this link to reset your password</a>.</p>
{% endblock %}
