/**
* @name:          styles.front.scss
* @description:   This stylesheet is for any custom scss required for the front portion of the site.
*/

.button {
	&.is-primary.is-inverted:hover {
	background-color: #fff !important;}}
@include tablet {
.terms, .privacy, .about {
	
	#front {
		max-height: 400px;
		overflow-y: scroll;
		overflow-x: hidden;
		background:
			linear-gradient(141deg, rgba(230, 230, 217, 1) 0%, rgba(236, 237, 230,1) 100%), 
			linear-gradient(141deg, rgba(236,235,229, 1) 0%, rgba(245, 246, 243, 1) 100%) 0 100%, 
			radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
			radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
		background-repeat: no-repeat;
		background-size: 60% 14px;
		background-attachment: local, local, scroll, scroll;
		background-position-x: right;}	
}

#aboutfix {
	position: fixed;
	width: 300px;
	}
}

.terms, .privacy {
	#front {
	p, li {
			margin-bottom: 20px;}
		
		li {
			padding-left: 30px;}
	}
}
.hero {
	.hero-body {
		a {
			color: #eb5e28 !important;}}}