{#
@name:          lists.twig
@description:   Template for the overview page.
#}

{% extends 'dash.twig' %}
{% block bodyClass %}{% endblock %}
{% set active = list.id %}
{% block main %}
<div class='columns'>
		<div class='column'>
			<button @click="triggerEditModal" class="button is-primary is-inverted is-pulled-right"><span class="fa fa-edit m-left-0"></span> Edit List</button>
			<h1 id='listtitle' class='title has-text-grey-dark'>{{list.name}}</h1>
			<p id='listsub' class='subtitle has-text-dark'>{{list.description}}</p>
		</div>
</div>
<list ref='list'></list>
{% endblock %}