{#
@name: lists.twig
@description: This template renders entrypoint of the dashboard, where users can find all of their created lists.
@route: /dashboard/
defined and subtask.1 is
#}


{% extends 'dash.twig' %}
{% block bodyClass %}lists{% endblock %}
{% set active = 'lists' %}
{% block main %}
<div class='columns'>
	<div class='column'>
		<button @click="$root.$emit('init-modal')" class="button is-primary is-inverted is-pulled-right"><span class="fa fa-plus m-left-0"></span> Add List</button>
		<h1 class='title'>Lists</h1>
	</div>
</div>
<lists id="lists" v-bind:lists-obj="listsObj" class='columns'>
</lists>
{% endblock %}
