<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta Info -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			a {
				color: #f14e32;
				text-decoration: none;
			}
		</style>
</head>
<body style="font-family: sans-serif; margin: 0px; padding: 0px; background: #f0efe7; width: 100%;" class="{% block bodyClass %} {% endblock %}">
	<header style="width: 100%; padding-top: 30px; padding-bottom: 30px; text-align: center; background: #403f4c;">
		<h1 style="color: #f14e32;"><span style="color: #309db6">To</span>Done!</h1>
	</header>
	<main style="padding: 20px 30px;">
		 <h2 style="color: #333; margin-bottom: 30px;">{% block title %}{% endblock %}</h2>
		 <div style="color: #555; font-size: 16px;">{% block content %}{% endblock %}</div>
	</main>
   <footer style="text-align: center; width: 100%; padding-top: 5px; padding-bottom: 5px; background: #403f4c; position: fixed; bottom: 0;">
			<p style="color: #f0efe7; font-size: 14px;">© 2018 • ToDone!</p>
	</footer>
</body>
</html>