<div v-bind:class='state' class="modal">
  <div v-on:click='stateChange' class="modal-background"></div>
  <div class="modal-card">
		<form id='newList' method='post'>
    <header class="modal-card-head has-background-light">
      <p class="modal-card-title" v-text='title'></p>
      <button v-on:click='stateChange' class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body" v-html='content'>
    </section>
    <footer class="modal-card-foot has-background-light">
			<button v-text='button' v-on:click='submitForm' type='submit' class="button is-primary"></button>
      <button v-on:click='stateChange' class="button">Cancel</button>
    </footer>
		</form>
  </div>
</div>