{% extends 'utilities/email.twig' %} 

{% block title %}Your password has been changed!{% endblock %}

{% block content %}
<p>You updated your password! This is a simple confirmation message.</p>
<p>If this comes as a suprise, please get in touch with our support team asap. You may reply directly to this email.</p>
<p>
Thanks, <br>
ToDone! Team
</p>
{% endblock %}
