{% extends 'utilities/email.twig' %} 

{% block title %}Welcome to ToDone!{% endblock %}

{% block content %}
<p>Hello {{ fname }}, thanks for signing up for ToDone! Let's get started by confirming your email address. At the bottom of this email, we've provided a link that will verify this email belongs to you.
</p>
<p>
If you have any questions, you can reply directly to this email! I do my best to respond within 1 hour, Monday thru Friday.
</p>

<p>Thanks,<br>
ToDone Team
</p>

<p>
<a href='{{ url }}'>Click this link to confirm your email</a>.
</p>
{% endblock %}