{% extends 'utilities/email.twig' %} 

{% block title %}Welcome to ToDo!{% endblock %}

{% block content %}
Hello {{ fname }}, thanks for signing up for ToDo! Let's start by confirming this email address. If you need help or have any questions, you may reply directly to this email! Monday thru Friday, I'll do my best to respond within 1 hour. If your email is recieved after 5pm PDT, I will respond first thing in the morning. Saturday and Sunday, give me up to 4 hours to respond. If your matter is urgent, write 'URGENT - ' as a prefix to your email's subject so I know to get back to you asap.

Thanks,
Brennan from VidEncrypt

--

<a href='{{ url }}'>Click this link to confirm your email</a>.
{% endblock %}