/**
* @name:          styles.base.scss
* @description:   This stylesheet is for any globally required scss.
*/

/* Sitewide Class Additions and Modifications
----------------------------------------------------------------------*/
$sizing: (0,10,15,20,30,50, 100);
$positions: ('top','left','bottom','right');
@each $size in $sizing {
	@each $position in $positions {
		.m-#{$position}-#{$size} {
			margin-#{$position}: $size + px !important;
  	}
  	.p-#{$position}-#{$size} {
			padding-#{$position}: $size + px !important;}}}

.h-100 {
	height: 100vh;}

.fa {
	margin-left: 10px;
	margin-right: 10px;}

.fixed {
	position: fixed;}

.dropdown {
	
	.dropdown-content {
		padding-bottom: 0px;
		padding-top: 0px;
	
		.dropdown-item {
			padding-top: .7rem;
			padding-bottom: .7rem;}
		
		.dropdown-item:first-child {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;}
		
		.dropdown-item:last-child {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;}
		
		.dropdown-divider {
			margin: 0;}
	}
}

.button.is-primary.is-inverted:hover {
	background-color: #fff !important;}

.menu {
	.menu-label {
		text-align: right;
		padding-bottom: 5px;
		border-bottom: 1px solid #757763;
		margin-top: 30px;}
	
	li > a {
		margin-top: 10px;}}

.button {
	box-shadow: 1px 1px 3px rgba(0,0,0,0.13);}

.hero {
	.hero-body {
		a {
			color: #eb5e28 !important;
		}
	}
}

.input::placeholder, .textarea::placeholder {
	 color: rgba(54, 54, 54, 1);
}