/**
* @name:          styles.base.scss
* @description:   This stylesheet is for any globally required scss.
*/

/* Sitewide Class Additions
----------------------------------------------------------------------*/
$sizing: (0,10,15,20,30,50, 100);
$positions: ('top','left','bottom','right');
@each $size in $sizing {
	@each $position in $positions {
		.m-#{$position}-#{$size} {
			margin-#{$position}: $size + px !important;
  	}
  	.p-#{$position}-#{$size} {
			padding-#{$position}: $size + px !important;}}}

m-x-auto {
	margin-left: auto;
	margin-right: auto;}

.h-100 {
	height: 100vh;}

.w-100 {
	width: 100%;}

.fa {
	margin-left: 10px;
	margin-right: 10px;}

.fixed {
	position: fixed;}

.absolute {
	position: absolute;}

.relative {
	position: relative;}

.sticky {
	position: -webkit-sticky;
	position: sticky;}

.none {
	display: none;}

/* Sitewide Style Modifications
----------------------------------------------------------------------*/

.dropdown {
	
	.dropdown-content {
		padding-bottom: 0px;
		padding-top: 0px;
	
		.dropdown-item {
			padding-top: .7rem;
			padding-bottom: .7rem;}
		
		.dropdown-item:first-child {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;}
		
		.dropdown-item:last-child {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;}
		
		.dropdown-divider {
			margin: 0;}
	}
}

.button {
	box-shadow: 1px 1px 3px rgba(0,0,0,0.13);}

.input::placeholder, .textarea::placeholder {
	 color: rgba(54, 54, 54, 1);}

.input.is-primary, textarea.is-primary {
	background: #f7c4b0;
	border: unset;
	
	+ .icon {
		color: rgba(54, 54, 54, 0.3);
	}
}
.formsent {
	width: 300px;
	padding: 5px;
	margin-left: 132px;
	opacity: 0;
	transition: opacity .2s ease;
	text-align: center;

	&.show {
		opacity: 1;
	}}


/* Sitewide Media Queries
----------------------------------------------------------------------*/
.hero-foot {
	
	nav ul > li:nth-child(n+2) {
	display: none;}
	
	@include tablet {
		
		nav ul > li:nth-child(n+2) {
		display: block;}
		
	}
}

@include mobile {
	
	
	.contact .hero-body, .about .hero-body, .auth .hero-body {
		display: block !important;
	}
}
	.contact .field-label, .auth .field-label {
		display: none;
	}



@include tablet-only {
	.contact #front > .columns {
		display: block;
	
		.column:nth-child(1) {
			width: 100%;
			margin-bottom: 30px;}
		.column:nth-child(2) {
			width: 100%;
			margin: 0;}
	}
}

.respond {display: none;}
@include touch {
	
.burger {
 background-color: rgba(0, 0, 0, 0.05) !important;}

.opensesame {
		display: block;}	
	
#frontNav {
	background: unset;
	box-shadow: unset;

	a {
		padding-left: 30px;
			
	&.is-active, &:hover {
		background: rgba(0, 0, 0, 0.05) !important;
		font-weight: bold;}}
	
	.respond {
		display: block;
	}
	hr.respond {
			background: rgba(0, 0, 0, 0.05) !important;
		}
	.dropdown {
		display: none;}}}


	.title {
		font-size: 1.5rem !important;}
	.subtitle {
		font-size: 1rem !important;}