{% extends 'util/email/email.twig' %} 

{% block title %}Your ToDone password has been changed!{% endblock %}

{% block main %}
<p>You updated your password on ToDone! This is a simple confirmation message. If this comes as a suprise, please get in touch with our support team asap by replying directly to this email.</p>
<p>Thanks, <br>
ToDone! Team
</p>
<hr>
{% endblock %}
