{% extends 'util/email/email.twig' %} 

{% block title %}Reset your ToDone! password!{% endblock %}

{% block main %}
<p>Hello {{ user.firstName }}, sorry to hear youre having trouble logging in. Let's get your password reset. Simply click the link below, follow the instructions, and use your new password to sign in. If you need more help or have any questions, you may reply directly to this email! Monday thru Friday, I'll do my best to respond within 1 hour.</p>
<p> Thanks,<br>
ToDone Team
</p>
<hr>
<p><a href='https://todone.local/reset?id={{ user.id }}&hash={{user.password}}'>Click this link to reset your password</a>.</p>
{% endblock %}
