{#
@name:          about.twig
@description:   Template for the about page.
#}

{% extends 'front.twig' %}
{% block bodyClass %}about{% endblock %}
{% set active = 'about' %}
{% block main %}
	<div class="columns">
		<div class='column is-3 h-100'>
			<h1 class='title has-text-grey-dark'>About ToDo!..</h1>
			<p class='subtitle'>Just a little bit about us.</p>
		</div>
		<div class='column is-offset-2 m-bottom-10'>
			<h2 class='is-size-4 m-bottom-10 has-text-grey-dark'>What is ToDo!?</h2>
			<p>Just another to do app! Well what this app really is, is a learning experience. I was learning vue.js and I wanted some real world experience applying it to a Symfony Project. I also wanted to utilize the Bulma CSS framework as I was eager to get away from Bootstrap. The result is this!</p>
		</div>	
</div>
<div class='columns'>
	<div class='column is-7 is-offset-5 m-bottom-10'>
			<h2 class='is-size-4 m-bottom-10 has-text-grey-dark'>Who is I?</h2>
			<p>A nobody really. My name is <a href='https://www.brennanwal.sh'>Brennan Walsh</a>, and I am a full stack web developer based out of Los Angeles, California. Despite the general consensus, I love PHP, and absolutely love working with Symfony apps. You can find more about me and contact me for hire via my portfolio <a href='https://brennanwal.sh'>brennanwal.sh</a>.</p>
	</div>
</div>
<div class='columns'>
	<div class='column is-7 is-offset-5 m-bottom-10'>
		<h2 class='is-size-4 m-bottom-10 has-text-grey-dark'>Acquisitions?</h2>
			<p>$10,000,000 and the rights to this app are yours! Haha, just kidding. But I mean..</p>
		</div>
	</div>
{% endblock %}
