{#
@name:          about.twig
@description:   Template for the about page.
#}

{% extends 'front.twig' %}
{% block bodyClass %}about{% endblock %}
{% set active = 'about' %}
{% block main %}
	<div class="columns">
		<div class='headingbox column is-5'>
			<h1 class='title has-text-grey-dark'>About ToDone!..</h1>
			<p class='subtitle'>A little bit about us and the dev behind it.</p>
		</div>
		<div class='column scrollbox'>
			<div class='columns block'>
				<div class='column is-12'>
				<h2 class='is-size-4 m-bottom-10 has-text-grey-dark'>What is ToDone!?</h2>
				<p>Just another productivity app! At its core this app is a learning experience. I was learning some new tech, and I wanted some real world experience applying it. So I started building an app. But I also wanted to make something useful. So I thought why don't I make a productivity app. Something that would help myself and maybe even others out. So I began building it. And building it. The result is what you see. It's still a work in progress. But it's in progress!</p> 
				</div>
				<div class='column is-12'>     
					<h2 class='is-size-4 m-bottom-10 has-text-grey-dark'>Who Am I?</h2>
					<p>A nobody really. My name is <a href='https://www.brennanwal.sh'>Brennan Walsh</a>, and I am a full stack web developer based out of Los Angeles, California. Despite the general consensus, I love PHP, and absolutely love working with Symfony apps. You can find more about me and contact me for hire via my portfolio <a href='https://brennanwal.sh'>brennanwal.sh</a>.</p>
				</div>
				<div class='column is-12 m-bottom-10'>
					<h2 class='is-size-4 m-bottom-10 has-text-grey-dark'>Acquisitions?</h2>
					<p>$10,000,000 and the rights to this app are yours! Haha, just kidding. But I mean..</p>
				</div>
			</div>	
		</div>
</div>
{% endblock %}
