{#
@name:          contact.twig
@description:   Contact page template.
#}

{% extends 'front.twig' %}
{% block bodyClass %}contact{% endblock %}
{% set active = 'contact' %}
{% block main %}
	<div class='columns'>
	<div class='column is-4'>
		<h1 class='title has-text-grey-dark'>Lets get in touch!</h1>
		<p>Need help resetting your password? Aquisition offers? Use this form to send me an email and I'll respond within 24 hours!</p><br>
		<p>Alternatively, you may email me directly at <a href='mailto:mail@brennanwal.sh'>mail@brennanwal.sh</a>.</p>
	</div>
	<div class='column is-7 is-offset-1'>
	<contact></contact>
	</div>
</div>
{% endblock %}
