{#
@name:          home.twig
@description:   Home page template.
#}

{% extends 'front.twig' %}
{% block bodyClass %}home{% endblock %}
{% set active = 'home' %}
{% block main %}
<slider-component class='has-text-centered'></slider-component>
{% if is_granted('ROLE_USER') %} 
  <a href='/dashboard' class="has-text-centered is-block callToAction">
    <button class='button is-primary' type='button'>Welcome {{ app.user.firstName }}. You'll<span class='fa fa-heart'></span>our app.</button>
  </a>
{% else %}
  <a href='/signup' class="has-text-centered is-block callToAction">
    <button class='button is-primary' type='button'>Sign up. You'll<span class='fa fa-heart'></span>our app.</button>
  </a>
{% endif %}
{% endblock %}
