{#
@name:          privacy.twig
@description:   Template for the privacy page.
#}

{% extends 'front.twig' %}
{% block bodyClass %}privacy{% endblock %}
{% set active = 'privacy' %}
{% block main %}
	<div class="columns">
		<div class='column headingbox is-4'>
			<h1 class='title has-text-grey-dark'>Privacy Policy</h1>
			<p class='subtitle'>This describes how your personal information is utilized when you visit ToDone!.</p>
		</div>
		<div class='column scrollbox is-7 is-offset-1'>
			<div class='columns block'>
				<div class='column is-12 m-bottom-10'>
					<h2 class='is-size-4 m-bottom-10 has-text-grey-dark'>Personal information we collect.</h2>
					<p>When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages that you view, what websites or search terms referred you to the Site, and information about how you interact with the site. This information is automatically collected.</p>
			<p>We collect information using the following technologies:</p>
<ol>
    <li><b>Cookies</b>: These are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org.</li>
		<li><b>Log Files</b>: Log files track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.</li>
		<li><b>Web Beacons, Tags, and Pixels</b>: These are electronic files used to record information about how you browse the Site.</li>
</ol>
		</div>	
	<div class='column is-12 m-bottom-10'>
			<h2 class='is-size-4 m-bottom-10 has-text-grey-dark'>How do we use your personal information?</h2>
<p>We primarily collect this information in order to understand better how our users in general interact with and use our site. We can then better improve and optimize our site For example, by generating analytics about how our customers browse and interact with the Site, and to assess the success of our marketing and advertising campaigns.</p>
	</div>
	<div class='column is-12 m-bottom-10'>
		<h2 class='is-size-4 m-bottom-10 has-text-grey-dark'>Sharing your personal information.</h2>
<p>We share your Personal Information with third parties to help us use your Personal Information, as described above.  We use Google Analytics to help us understand how our users use the Site you can read more about how Google uses your Personal Information here:  https://www.google.com/intl/en/policies/privacy/.  You can also opt-out of Google Analytics here:  https://tools.google.com/dlpage/gaoptout.
</p><p>
Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.
</p>
	</div>
	<div class='column is-12 m-bottom-10'>
		<h2 class='is-size-4 m-bottom-10 has-text-grey-dark'>Do not track.</h2>
			<p>Please note that we do not alter our Site’s data collection and use practices when we see a Do Not Track signal from your browser.</p>
		</div>
	<div class='column is-12 m-bottom-10'>
			<h2 class='is-size-4 m-bottom-10 has-text-grey-dark'>Data retention.</h2>
<p>When you utilize our site, we will maintain your usage records unless and until you ask us to delete this information.</p>	</div>
	<div class='column is-12 m-bottom-10'>
		<h2 class='is-size-4 m-bottom-10 has-text-grey-dark'>Changes?</h2>
			<p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>
		</div>
	<div class='column is-12 m-bottom-50'>
		<h2 class='is-size-4 m-bottom-10 has-text-grey-dark'>Contact us.</h2>
			<p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us using our <a href='/contact'>contact page</a>.
</p>
		</div>
	</div>
		</div>
</div>

{% endblock %}
