{#
@name:          auth.twig
@description:   Base template for the auth portion of the site.
#}

<!DOCTYPE html>
<html lang="en">	
<head>	
  <title>{% block title %}ToDone!{% endblock %}</title>
  <meta name="description" content="{% block description %}To do lists Yay!{% endblock %}">
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="images/favicon.png">
  {% block assets %}
			<link rel="stylesheet" href="{{ asset('/assets/auth.css') }}">
	{% endblock %}
</head>
<body class='auth {% block bodyClass %}{% endblock %}'>
<section id="vue" class="hero is-light is-fullheight">
  <div class="hero-head">
    <nav class="navbar fixed w-100">
      <div class="container">
        <div class="navbar-brand">
          <a href='/' class="navbar-item active">
           	<span class='has-text-weight-bold has-text-info is-size-3'>to<span class='has-text-primary'>done</span></span>
          </a>
          <span class="navbar-burger burger has-text-primary" data-target="frontNav">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="frontNav" class="navbar-menu has-background-grey-dark has-text-grey">
          <div class="navbar-end">
            <a href='/' class="navbar-item {% if active == 'home' %}is-active{% endif %}">Home</a>
            <a href='/about' class="navbar-item {% if active == 'about' %}is-active{% endif %}">About</a>
            <a href='/contact' class="navbar-item {% if active == 'contact' %}is-active{% endif %}">Contact</a>
            <a href="/login" class="respond navbar-item {% if active == 'login' %}is-active{% endif %}">Login</a>
            <a href="/signup" class="respond navbar-item {% if active == 'signup' %}is-active{% endif %}">Signup</a>
            <hr class="respond m-top-0 m-bottom-0">
            <div class="dropdown is-right m-left-15 is-hoverable">
              <div class="dropdown-trigger">
                <button class="button is-primary">
                  <span class="icon"><i class="fa fa-user-plus"></i></span>
                  <span>Login</span>
                </button>
              </div>
              <div class="dropdown-menu p-top-0" id="dropdown-menu2" role="menu">
                <div class="dropdown-content">
                  <a href="/login" class="dropdown-item">Log In</a>
                  <hr class="dropdown-divider">
                  <a href="/signup" class="dropdown-item">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>	
	<div class="hero-body">
      <div id="auth" class="container">
        {% block main %}
        {% endblock %}
      </div>
    </div>
	<div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active"><a class='has-background-grey-dark has-text-white' href='https://www.brennanwal.sh'>Made with <span class='fa fa-heart has-text-primary'></span>by Brennan Walsh</a> </li>
          <li><a href='/privacy'>Privacy</a></li>
          <li><a href='/terms'>Terms</a></li>
        </ul>
      </div>
    </nav>
  </div>
  {% for label, messages in app.flashes(['success', 'danger', 'warning', 'info']) %}
    {% for message in messages %}
      <message-component classtype="is-{{ label }}" value="{{message}}"></message-component>
    {% endfor %}
  {% endfor %}
  <message-component></message-component>
</section>
{% block scripts %}
    <script src="{{ asset('/assets/runtime.js') }}"></script>  
	<script src="{{ asset('/assets/auth.js') }}"></script>
{% endblock %}
</body>	
</html>