<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block title %}ToDo!{% endblock %}</title>
	<meta name="description" content="{% block description %}To do lists Yay!{% endblock %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/images/favicon.png">
	{% block assets %}
	<link rel="stylesheet" href="/build/dash.css">
	{% endblock %}
</head>
<body class='dash {% block bodyClass %}{% endblock %}'>
	<section id='topbar'>
		<nav class="navbar is-fixed-top">
			<div class='container is-fluid'>
			<div class="navbar-brand">
				<a class="navbar-item" href="/dashboard/">
					<span class='has-text-weight-bold has-text-light is-size-3'>ToDo!</span>
				</a>
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
			<div class="navbar-menu">
          <div class="navbar-end">
						<div class="dropdown m-top-15 m-left-15 is-hoverable">
              <div class="dropdown-trigger">
                <button class="button is-primary" @click="showDropdown">
                  <span class="icon"><i class="fa fa-user"></i></span>
                  <span>{{ app.user.username }}</span>
                </button>
              </div>
              <div class="dropdown-menu p-top-0" id="dropdown-menu2" role="menu">
                <div class="dropdown-content">
                  <a href="/logout" class="dropdown-item">Logout</a>
                </div>
              </div>
           </div>
			</div>
		</div>
		</div>
	</nav>
</section>
<section id='root' id="main">
	<div class='columns m-bottom-0'>
	<aside id='sidebar' class="menu p-right-20 column is-2 has-background-grey-dark h-100">
  	<p class="menu-label">
			Navigation
  	</p>
		<ul class="menu-list">
    	<li><a href='/dashboard/' class='{% if active == "lists" %}is-active{% endif %}'>Lists</a></li>
			<li><a href='/dashboard/profile' class='{% if active == "profile" %}is-active{% endif %}'>Profile</a></li>
		</ul>
		<p class="menu-label">
    	<a data-render='add' class='hoverable has-text-primary is-pulled-left'><span class='fa fa-plus m-left-0 m-right-0'></span> New List</a> Your Lists
  	</p>
  	<ul id='sidelists' class="menu-list">
			{% for list in app.user.lists %}
			<li data-listid="{{ list.id }}"><a href='/list/{{ list.id }}' class='{% if active == list.id %}is-active{% endif %}'>{{ list.name }}</a></li>
			{% endfor %}
  	</ul>
</aside>
<div class='main h-100 column is-10 is-offset-2 p-bottom-50 main column is-10 p-top-50 p-left-50 p-right-50'>
	{% block main %}
	{% endblock %}
</div>
	</div>
	<div id="footer">
		{% block footer %}
		{% endblock %}
	</div>
</section>
{% block scripts %}
<script src="/build/dash.js"></script>
{% endblock %}
</body>
</html>