<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block title %}ToDone!{% endblock %}</title>
	<meta name="description" content="{% block description %}To do lists Yay!{% endblock %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/images/favicon.png">
	<link rel="stylesheet" href="{{ asset('/assets/dash.css') }}">
</head>

<body class='dash {% block bodyClass %}{% endblock %}'>
  <div id="vue">
	{% if app.user.confirmed != 1 %}
	<section id="confirm" class='fixed has-background-black has-text-centered w-100'>
		<div class="container">
			<p class='has-text-light'>Please confirm your email. We've emailed a confirmation link to {{app.user.email}}. <a class='has-text-primary' href="/confirm?resend=true&route={{app.request.get('_route')}}">Click here to resend it</a>.</p>
		</div>
	</section>
	{% endif %}
	<section id='topbar'>
		<nav class="navbar has-background-grey-dark fixed w-100	{% if app.user.confirmed != 1 %}confirm	{% endif %}">
			<div class='container is-fluid'>
				<div class="navbar-brand">
					<a class="navbar-item p-top-0 p-bottom-0" href="/boards/">
						<span class='has-text-weight-bold has-text-info is-size-3'>to<span class='has-text-primary'>done</span></span>
					</a>
					<a role="button" class="navbar-burger burger has-text-primary" data-target="sidebar">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>
				<div class="navbar-menu">
					<div class="navbar-end">
						<div class="dropdown is-right m-left-15 is-hoverable">
							<div class="dropdown-trigger">
								<button class="button is-primary">
									<span class="icon"><i class="fa fa-user"></i></span>
									<span>{{ app.user.username }}</span>
								</button>
							</div>
							<div class="dropdown-menu p-top-0" id="dropdown-menu2" role="menu">
								<div class="dropdown-content">
									<a href="/" class="dropdown-item">Front</a>
									<a href="/logout" class="dropdown-item">Logout</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</section>
	<section id='dash' class='{% if app.user.confirmed != 1 %}m-top-30{% endif %}'>
		<div class='columns m-bottom-0'>
			<aside id='sidebar' class="menu p-left-0 p-right-0 column is-5-mobile is-3-tablet is-2-desktop has-background-black h-100">
				<p class="menu-label">Navigation
				</p>
				<ul class="menu-list">
					<li><a href='/boards' class='{% if active == "boards" %}is-active{% endif %}'>Boards</a></li>
					<li><a href='/profile' class='{% if active == "profile" %}is-active{% endif %}'>Profile</a></li>
				</ul>
				<p class="menu-label"><span @click.prevent="$refs.create.open()" class="createbutton has-text-primary is-pulled-left m-left-15"><i class="fa fa-plus m-left-0 m-right-5"></i> Board</span> Your Boards</p>
				<sidebar id='sidelists' class="menu-list" active="{{active}}">
				</sidebar>
			</aside>
			<div id="main" class='main column is-12 is-10-desktop is-offset-2-desktop'>
				{% block main %}
				{% endblock %}
			</div>
			<create-modal ref="create"></create-modal>
			<delete-modal ref="delete"></delete-modal>
			<edit-modal ref="edit"></edit-modal>
		</div>
	</section>
    {% for label, messages in app.flashes(['success', 'danger', 'warning', 'info']) %}
      {% for message in messages %}
      <message-component classtype="is-{{ label }}" value="{{message}}"></message-component>
      {% endfor %}
    {% endfor %}
    <message-component></message-component>
  </div>
  <script src="{{ asset('/assets/runtime.js') }}"></script>  
  <script src="{{ asset('/assets/dash.js') }}"></script>
</body>

</html>
