{#
# @name: front.twig
# @description: Base template for the frontend of the site.
#}

<!DOCTYPE html>
<html lang="en">

<head>
	 <title>ToDone! {% block title %}An organization and productivity app.{% endblock %}</title>
	<meta name="description" content="{% block description %}ToDone! is an organization and productivity application similar to Trello.{% endblock %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="images/favicon.png">
	{% block assets %}
	<link rel="stylesheet" href="{{ asset('/assets/front.css') }}">
	{% endblock %}
</head>

<body class='front {% block bodyClass %}{% endblock %}'>
	<section id="vue" class="hero is-light is-fullheight">
		<div class="hero-head">
			<nav class="navbar has-background-grey-dark fixed w-100">
				<div class="container">
					<div class="navbar-brand">
						<a href='/' class="navbar-item active">
							<span class='has-text-weight-bold has-text-info is-size-3'>to<span class='has-text-primary'>done</span></span>
						</a>
						<span id="burger" class="navbar-burger burger has-text-primary" data-target="frontNav">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</div>
					<div id="frontNav" class="navbar-menu has-background-grey-dark has-text-grey">
						<div class="navbar-end">
							<a href='/' class="navbar-item {% if active == 'home' %}is-active{% endif %}">Home</a>
							<a href='/about' class="navbar-item {% if active == 'about' %}is-active{% endif %}">About</a>
							<a href='/contact' class="navbar-item {% if active == 'contact' %}is-active{% endif %}">Contact</a>
							{% if is_granted('ROLE_USER') %}
							<a href="/dashboard" class="respond navbar-item">Dashboard</a>
							<a href="/logout" class="respond navbar-item">Log out</a>
							{% else %}
							<a href="/login" class="respond navbar-item">Login</a>
							<a href="/signup" class="respond navbar-item">Signup</a>
							{% endif %}
							{% if is_granted('ROLE_USER') %}
							<div class="dropdown is-right m-left-15 is-hoverable">
								<div class="dropdown-trigger">
									<button class="button is-primary">
										<span class="icon"><i class="fa fa-user"></i></span>
										<span>{{ app.user.username }}</span>
									</button>
								</div>
								<div class="dropdown-menu p-top-0" id="dropdown-menu2" role="menu">
									<div class="dropdown-content">
										<a href="/boards" class="dropdown-item">Dashboard</a>
										<hr class="dropdown-divider">
										<a href="/logout" class="dropdown-item">Logout</a>
									</div>
								</div>
							</div>
							{% else %}
							<div class="dropdown is-right m-left-15 is-hoverable">
								<div class="dropdown-trigger">
									<button class="button is-primary">
										<span class="icon"><i class="fa fa-user-plus"></i></span>
										<span>Login</span>
									</button>
								</div>
								<div class="dropdown-menu p-top-0" id="dropdown-menu2" role="menu">
									<div class="dropdown-content">
										<a href="/login" class="dropdown-item">Log In</a>
										<hr class="dropdown-divider">
										<a href="/signup" class="dropdown-item">Sign Up</a>
									</div>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</nav>
		</div>
		<div class="hero-body">
			<div id="front" class="container">
				{% block main %}
				{% endblock %}
			</div>
		</div>
		<div class="hero-foot">
			<nav class="tabs is-boxed is-fullwidth">
				<div class="container">
					<ul>
						<li class="is-active"><a href='https://www.brennanwal.sh' class='has-background-grey-dark has-text-white'>Built with <span class='fa fa-heart has-text-primary'></span>by Brennan Walsh</a> </li>
						<li><a href='/privacy'>Privacy</a></li>
						<li><a href='/terms'>Terms</a></li>
					</ul>
				</div>
			</nav>
		</div>
        {% for label, messages in app.flashes(['success', 'danger', 'warning', 'info']) %}
          {% for message in messages %}
            <message-component classtype="is-{{ label }}" value="{{message}}"></message-component>
          {% endfor %}
        {% endfor %}
        <message-component></message-component>
	</section>
	{% block scripts %}
    <script src="{{ asset('/assets/runtime.js') }}"></script>  
	<script src="{{ asset('/assets/front.js') }}"></script>
	{% endblock %}
</body>

</html>
