{#
@name: forgot.twig
@description: The template for the forgot page.
#}

{% extends 'auth.twig' %}
{% block bodyClass %}forgot{% endblock %}
{% set active = 'login' %}
{% block main %}
<div class='columns'>
	<div class='headingbox column is-4'>
		<h1 class="title has-text-grey-dark">Forgot Password</h1>
		<p class='subtitle'>Don't worry about it. We'll get it changed for you. Simply provide the email you used to sign up with, and we'll email you further instructions.</p>
	</div>
	<div class='column is-6 is-offset-2'>
		<forgot {% if response is defined %} response="{{response}}" {% endif %}>
	</forgot>
	</div>
</div>

{% endblock %}