{#
@name: login.twig
@description: Base template for the entire front portion of the site.
#}

{% extends 'auth.twig' %}
{% block bodyClass %}login{% endblock %}
{% set active = 'login' %}
{% block main %}
<div class='columns'>
	<div class='headingbox column is-4'>
		<h1 class="title has-text-grey-dark">Sign In</h1>
		<p class='subtitle'>You may login using either your username or email along with the password you created at signup.</p>
	</div>
	<div class='column is-6 is-offset-2'>
		<login-component inline-template>
			<form @submit="validateForm" method="post">
				<div class="field is-horizontal">
					<div class='field-label is-normal'>
						<label class="label has-text-light">Username/Email</label>
					</div>
					<div class='field-body'>
						<div class='field has-addons'>
							<div class="control">
								<a class="button is-static">
									<span class='fa fa-user'></span>
								</a>
							</div>
							<div class='control is-expanded'>
								<input class="input" name="login" placeholder="Phone # or Email" v-model="user" v-bind:class="{'is-primary': attempted && userStatus}" type="text">
							</div>
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class='field-label is-normal'>
						<label class="label has-text-light">Password</label>
					</div>
					<div class='field-body'>
						<div class='field has-addons'>
							<div class="control">
								<a class="button is-static">
									<span class='fa fa-lock'></span>
								</a>
							</div>
							<div class='control is-expanded'>
								<input name="pass" class="input" placeholder="Password" v-model="pass" v-bind:class="{'is-primary': attempted && passStatus}" type="password">
							</div>
						</div>
					</div>
				</div>
				<a class="forgotmypass has-text-info" href="/forgot">I forgot my password.</a>
				<button class="button is-primary is-pulled-right" type="submit" @submit="validateForm">Login</button>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</form>
		</login-component>
		<div class="column oauthbuttons">
			<a href="/oauth/facebook/">
				<button class="fb button is-large">
					<i class="fa fa-facebook-square"></i>
					<span>Login with <b>Facebook</b></span>
				</button>
			</a>
			<a href="/oauth/github">
				<button class="github button is-large">
					<i class="fa fa-github-alt"></i>
					<span>Login with <b>Github</b></span>
				</button>
			</a>
		</div>
	</div>
</div>
{% endblock %}
