{#
@name: login.twig
@description: Base template for the entire front portion of the site.
#}

{% extends 'auth.twig' %}
{% block bodyClass %}login{% endblock %}
{% set active = '' %}
{% block main %}
<div class='columns'>
	<div class='column is-4'>
		<h1 class="title has-text-grey-dark">Sign In</h1>
		<p class='subtitle'>You may login using either your username or email along with the password you created at signup.</p>
	</div>
	<div class='column is-7 is-offset-1'>
		<login>
			<template slot="token">
				{% if error %}
				<div class="show formsent notification is-primary is-pulled-left">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</template>
		</login>
	</div>
</div>

{% endblock %}
