{#
@name:          signup.twig
@description:   Base template for the entire front portion of the site.
#}

{% extends 'auth.twig' %}
{% block bodyClass %}signup{% endblock %}
{% set active = 'signup' %}
{% block main %}
<div class='columns'>
	<div class='headingbox column is-4'>
		<h1 class="title has-text-grey-dark">Sign Up</h1>
		<p class='subtitle'>Welcome! We're going to be great friends!</p>
	</div>
	<div class='column is-6 is-offset-2'>
		<signup></signup>
	</div>
</div>
{% endblock %}
