{#
@name:          signup.twig
@description:   Base template for the entire front portion of the site.
#}

{% extends 'auth.twig' %}
{% block bodyClass %}signup{% endblock %}
{% set active = 'signup' %}
{% block main %}
<div class='columns'>
	<div class='headingbox column is-4'>
		<h1 class="title has-text-grey-dark">Sign Up</h1>
		<p class='subtitle'>Welcome to ToDone! Simply provide your phone #, email, name, country, gender and choose a password.</p>
	</div>
	<div class='column is-6 is-offset-2'>
      <signup-component {% if oauth %} oauth oauthemail="{{user.email}}" oauthfname="{{user.firstName}}" oauthlname="{{user.lastName}}"{% endif %} inline-template>
        {{ form_start(form, {'attr': {'@submit': 'validateForm', 'novalidate': 'true', 'id': 'signup'}}) }}
		<div class="field is-horizontal">
			<div class='field-label is-normal'>
  			<label class="label has-text-light">Phone<sup>*</sup></label>
			</div>
			<div class='field-body'>
				<div class='field'>
					<div class="control has-icons-left">
						{{ form_widget(form.phone, {'attr': {'v-model': "phone", 'v-bind:class': "{'is-primary': attemptedSubmit && phoneStatus}", 'placeholder': 'Phone Number', 'class': 'input' }}) }}
						<span class="icon is-small is-left">
							<i class="fa fa-user"></i>
						</span>
					</div>
				</div>
			</div>
		</div>			
		<div class="field is-horizontal">
			<div class='field-label is-normal'>
  			<label class="label has-text-light">Email<sup>*</sup></label>
			</div>
			<div class='field-body'>
				<div class='field'>
  				<div class="control has-icons-left">
                  {% if oauth %}
                    {{ form_widget(form.email, {'attr': {'readonly': 'true', 'v-model': "email", 'v-bind:class': "{'is-primary': attemptedSubmit && emailStatus}", 'placeholder': 'Email Address', 'class': 'input' }}) }}
                  {% else %}
                    {{ form_widget(form.email, {'attr': {'v-model': "email", 'v-bind:class': "{'is-primary': attemptedSubmit && emailStatus}", 'placeholder': 'Email Address', 'class': 'input' }}) }}
                  {% endif %}
    				<span class="icon is-small is-left">
      				<i class="fa fa-envelope"></i>
    				</span>
  				</div>
				</div>
			</div>
		</div>
		<div class="field is-horizontal">
			<div class='field-label is-normal has-text-light'>
  			<label class="label has-text-light">Password<sup>*</sup></label>
			</div>
			<div class='field-body'>
				<div class='field'>
					<div class="control has-icons-left">
						{{ form_widget(form.password.first, {'attr': {'v-model': "pass", 'v-bind:class': "{'is-primary': attemptedSubmit && passStatus}", 'placeholder': 'Password', 'class': 'input' }}) }}
						<span class="icon is-small is-left">
      				<i class="fa fa-key"></i>
    				</span>
					</div>
				</div>
				<div class='field'>
					<div class="control has-icons-left">
						{{ form_widget(form.password.second, {'attr': {'v-model': "rpass",'v-on:blur': "validatePasswords", 'v-bind:class': "{'is-primary': identical && attemptedRpass || attemptedSubmit && rpassStatus}", 'placeholder': 'Repeat Password', 'class': 'input' }}) }}
						<span class="icon is-small is-left">
      				<i class="fa fa-key"></i>
    				</span>
					</div>
				</div>
			</div>
		</div>
		<div class="field is-horizontal">
			<div class='field-label is-normal has-text-light'>
  			<label class="label has-text-light">Your name<sup>*</sup></label>
			</div>
			<div class='field-body'>
				<div class='field'>
					<div class="control has-icons-left">
                      {% if oauth %}
                        {{ form_widget(form.firstName, {'attr': {'readonly': 'true','v-model': "fname", 'v-bind:class': "{'is-primary': attemptedSubmit && fnameStatus}", 'placeholder': 'First Name', 'class': 'input' }}) }}
                      {% else %}
                        {{ form_widget(form.firstName, {'attr': {'v-model': "fname", 'v-bind:class': "{'is-primary': attemptedSubmit && fnameStatus}", 'placeholder': 'First Name', 'class': 'input' }}) }}
                      {% endif %}
						<span class="icon is-small is-left">
      				<i class="fa fa-user"></i>
    				</span>
					</div>
				</div>
				<div class='field'>
					<div class="control has-icons-left">
                      {% if oauth %}
                        {{ form_widget(form.lastName, {'attr': {'readonly': 'true','v-model': "lname", 'v-bind:class': "{'is-primary': attemptedSubmit && lnameStatus}", 'placeholder': 'Last Name', 'class': 'input' }}) }}
                      {% else %}
                        {{ form_widget(form.lastName, {'attr': {'v-model': "lname", 'v-bind:class': "{'is-primary': attemptedSubmit && lnameStatus}", 'placeholder': 'Last Name', 'class': 'input' }}) }}
                      {% endif %}
						<span class="icon is-small is-left">
      				<i class="fa fa-user"></i>
    				</span>
					</div>
				</div>
			</div>
		</div>
		<div class="field is-horizontal">
			<div class='field-body'>
				<div class='field'>
					<div class="control has-icons-left">
						<div class="select is-rounded">
						{{ form_widget(form.country, {'attr': {'class': 'select' }}) }}
						<span class="icon is-small is-left">
      				<i class="fa fa-globe"></i>
    				</span>
						</div>
					</div>
				</div>
				<div class='field'>
					<div class="control has-icons-left">
						<div class="select is-rounded">
						{{ form_widget(form.gender, {'attr': {'class': 'select' }}) }}
						<span class="icon is-small is-left">
      				<i class="fa fa-venus"></i>
    				</span>
						</div>						
					</div>
				</div>
			</div>
		</div>
        <div class="field is-horizontal m-bottom-20">
			<div class='field-body'>
				<div class='field'>
					<div class="control">
						{{ form_widget(form.terms, {'attr': {'v-model': "accept", 'class': 'checkbox' }}) }}
                        <label for="signup_terms" class="m-left-10 required" v-bind:class="{'has-text-primary': attemptedSubmit && acceptStatus}">I agree to the terms and conditions.</label>
					</div>
				</div>
			</div>
		</div>			
		<div class="field is-pulled-left">
  		<div class="control">
          <button class="button is-primary" type="submit" @submit="validateForm">Signup</button>
  		</div>
		</div>
		{{ form_end(form) }}
		</signup-component>
        {% if not oauth %}
        <div class="column oauthbuttons">
			<a href="/oauth/facebook/">
				<button class="fb button is-large">
					<i class="fa fa-facebook-square"></i>
					<span>Signup with <b>Facebook</b></span>
				</button>
			</a>
			<a href="/oauth/github">
				<button class="github button is-large">
					<i class="fa fa-github-alt"></i>
					<span>Signup with <b>Github</b></span>
				</button>
			</a>
		</div>
          {% endif %}
	</div>
</div>
{% endblock %}
